label {
    display: block;
    font: 1.5rem 'Fira Sans', sans-serif;
    

}

input,
label {
    margin: .4rem 0;
}


.date {
    color: black;
}

.date-right {
    position: relative;
    left: 20em;
}


.checkbox, .radio {
    width: 50px;
}

label.tags-label {
    color: black !important;
}

