
<form action="/reminder/importpost">
 <textarea name="importContent"></textarea>
 <input type="button" onclick="sendData()" value="Import"/>
</form>

<script>
    function sendData() {
        fetch("http://localhost:3000/reminder/importpost", {
            method: "POST",
            body: document.querySelector("textarea").value,
            headers: {"Content-Type": "application/json"}
        })
    }
</script>