<div  id="import">
    <h3>Import</h3>
    <p>Copy paste the exported textfile into the box below.</p>
    <form action="/reminder/importpost">
    <textarea name="importContent" class="import-content"></textarea>
    <input class="import-button" type="button" onclick="sendData()" value="Import"/>
    </form>
</div>


<script>
    function sendData() {
        fetch("http://localhost:3000/reminder/importpost", {
            method: "POST",
            body: document.querySelector("textarea").value,
            headers: {"Content-Type": "application/json"}
        })
    }
</script>